html{
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 15px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main img{
    width: 200px;
    height: 250px;
}

.main .coluna{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

main .coluna h2, h3{
    text-align: center;
}

.header h1{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

span{
    color: green;
}

.athletico-pr {
    background-color: rgb(131, 60, 60);
}

.atletico-mg{
    background-color: #3a3737;
}

.bahia{
    background-color: rgb(88, 181, 243);
}

.botafogo{
    background-color: #3a3737;
}

.bragantino{
    background-color: #ffffff;
}

.chapecoense {
    background-color: rgb(44, 164, 44);
}

.corinthians{
    background-color: #3a3737;
}

.coritiba {
    background-color: rgb(0, 84, 50);
}

.cruzeiro{
    background-color: rgb(33, 33, 212);
}

.flamengo{
    background-color: rgb(233, 40, 40);
}

.fluminense{
    background-color: rgb(97, 16, 16);
}

.gremio{
    background-color: rgb(64, 116, 226);
}

.internacional{
    background-color: rgb(197, 43, 43);
}

.mirassol{
    background-color: rgb(241, 231, 83);
}

.palmeiras{
    background-color: rgb(3, 75, 3);
}

.remo {
    background-color: rgb(4, 4, 71);
}

.sao-paulo{
    background-color: #ffffff;
}

.santos{
    background-color: #fff;
}

.vasco{
    background-color: #3a3737;
}

.vitoria{
    background-color: rgb(233, 40, 40);
}

